DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
DB_PASSWORD=000000
DB_USER=admin
DB_NAME=abc
PORT=3000

JWT_SECRET=lalalala
JWT_EXPIRES_IN=3d
REFRESH_TOKEN_SECRET=lolololo
REFRESH_TOKEN_EXPIRES_IN=3d

CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_API_KEY=0123456789
CLOUDINARY_API_SECRET=abcabcabcabcabc

FRONTEND_URL=http://localhost:5173
RESEND_API_KEY=re_xxxxxxxx
MAIL_FROM=Abc <abc@gmail.com>

SEED_DEMO=true
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admin@gmail.com
SEED_ADMIN_PASSWORD=123456